

.header {
    background-color: #cd0c13;
    color: white;
    padding: 1%;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header img {
    height: 50px;
    margin: 0 10px;
}

.header2 {
    color: white;
    padding: 1px;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-container {
    width: 33%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.form-container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 140px;
    border-radius: 5px;
    text-align: left;
}

h2 {
    color: #e82229;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #e82229;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 20px;
}


.footer {
    background-color: #e82229;
    color: white;
    padding: 1px; 
    text-align: left;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer img {
    height: 20px;
    margin: 0 10px;
}

.footer2 {
    background-color: #e82229;
    color: white;
    padding: 1px; 
    text-align: right;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer2 img {
height: 15px;
margin: 0 10px;
}
